// Specific CSS for your home-page

// Navbar CSS

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// Bannner CSS

@import '../components/index.scss';

// Button CSS

@import '../components/button.scss';

//Searchbar
.searchbar-home {
  width: 100px;
}
