
.intro p {
  margin-bottom: 15px;
  font-size: 12px;
}

.intro {
  margin: 15px 10px;
}

.profile-photo {
  height: 350px;
  width: 100%;
  background-size: cover;
}

.profile-details {
  margin: auto 40px;
}
