
.intro p {
  margin-bottom: 15px;
  font-size: 12px;
  text-align: center;
}

.intro {
  margin: 15px 10px;
}

.profile-photo {
  height: 500px;
  width: 100%;
  background-size: cover;
}

.profile-details {
  margin: auto 20px;
}
