<div class="card-pop-up">
<img class="pop-up-image" src="<%= cl_image_path coachsession.main_photo.key %>">
  <div class="pop-up-text">
    <a href="#"><%= link_to coachsession.session_name, coachsession_path(coachsession) %></a>
    <p><%= coachsession.description %></p>
  </div>
</div>
