<div class="banner">
  <div class="container">
    <h1>Find your <strong>COACH</strong> here, Ray</h1>
    <%= simple_form_for :search, url: coachsessions_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <label for="activities">Choose an activity:</label>
        <select id="activity" name="activities">
          <option value="Calisthenics">Calisthenics</option>
          <option value="Dancing">Dancing</option>
          <option value="Surfing">Surfing</option>
          <option value="Swimming">Swimming</option>
          <option value="Weightlifting">Weightlifting</option>
          <option value="Yoga">Yoga</option>
        </select>
        <button class="btn-flat" type="submit">Submit</button>

        <%# <input class="form-control string required" type="text" name="search[query]" id="search_query" /> %>
    </div>
    <% end %>
  </div>
</div>
