.photos {
  display: flex;
  overflow: hidden;
  .additional-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin-left: 16px;
  }

  .main-photo {

    img {
      height: 100%;
    }
  }
}

.booking-card {
  box-shadow: 5px 2px 8px 0px rgba(0,0,0,0.19);
  width: 350px;
  padding: 15px;
  border-radius: 4px;
  height: 300px;
  margin-right: 10px;
}

.booking-card p {
  align-items: center;
}
