@import "../config/fonts";

.mapboxgl-popup {
  max-width: 150px;
}

.mapboxgl-popup-content {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}

.mapboxgl-popup-content a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.mapboxgl-popup-content p {
  color: white;
}

.pop-up-image {
  width: 200px;
  height: 150px;
  margin: 0px;
  object-fit: cover;
}

.pop-up-text {
  padding: 10px;
  width: 200px;
  background-color: #FF715B;
}

.pop-up-text:hover {
  padding: 10px;
  width: 200px;
  background-color: #ff4528;
  transition: background 0.3s ease;
}

#map {
  width: 45vw;
  height: 100vh;
  top: 0;
  right:0;
  position: fixed;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// .container {
//   display: flex;
//   justify-content: space-between;
//   margin: 0px;
// }
